@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(100deg, #575656, #062e3f);
    /*serve para deixar o fundo com degrader de cores*/
    color: #ffdfdb;
    font-family: "Work Sans", sans-serif;
}

.default-theme {
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, #575656, #062e3f);
    border: 1px, solid #535252;
    border-radius: 100%;
    cursor: pointer;
}

.light-theme {
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, #FAFAFA, #ffffff);
    border: 1px, solid #535252;
    border-radius: 100%;
    cursor: pointer;
}

.dark-theme {
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, #001214, #1d1d1d);
    border: 1px, solid #535252;
    border-radius: 100%;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    gap: 15px;
}

.main-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 50%;
}

.task-title{
    font-size: 48px;
    transition: color 0.3s;
}

.container-task{
    display: flex;
    gap: 12px;
}

.task-input{
    border-radius: 12px;
    padding: 12px;
}

.task-input::placeholder{
    font-family: "Work Sans", sans-serif;
}

.task-button{
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: #ffdfdb;
    color: #062e3f;
    font-family: "Work Sans", sans-serif;
    }